

<section class="container-fluid how-it-works py-5">
    <div class="container">
        <h1 class="mb-4 text-center hiw">How It Works</h1>
        <div class="row">
            <div class="col-md-4 step text-center">
                <i class="bi bi-search h1 text-primary mb-3"></i>
                <h4>Discover</h4>
                <p>Explore your desired locations and discover available vehicles.</p>
            </div>
            <div class="col-md-4 step text-center">
                <i class="bi bi-bar-chart h1 text-primary mb-3"></i>
                <h4>Compare</h4>
                <p>Compare options, prices, and reviews to find the perfect match for you.</p>
            </div>
            <div class="col-md-4 step text-center">
                <i class="bi bi-calendar-check h1 text-primary mb-3"></i>
                <h4>Book</h4>
                <p>Book your chosen vehicle and enjoy a seamless and stress-free experience.</p>
            </div>
        </div>
    </div>
</section>
