<!-- top-rentals.component.html -->
<section class="container-fluid top-rentals">
    <div class="container">
        <h2 class="mb-10 text-center">Connecting you to the biggest brands in car rental</h2>
        <div class="row justify-content-center">
            <div class="col-md-2 rental-image">
                 <a href="https://www.europcar.com/" target="_blank">
                    <img src="https://cdn2.rcstatic.com/images/supplier_logos/europcar_logo_lrg.gif" alt="Europcar" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 rental-image">
               <a href="https://www.hertz.com/" target="_blank">
                    <img src="https://cdn2.rcstatic.com/images/supplier_logos/hertz_logo_lrg.gif" alt="Hertz" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 rental-image">
                 <a href="https://www.enterprise.com/" target="_blank">
                    <img src="https://cdn2.rcstatic.com/images/supplier_logos/enterprise_logo_lrg.gif" alt="Enterprise" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 rental-image">
                <a href="https://www.keddybyeuropcar.com/" target="_blank">
                    <img src="https://cdn2.rcstatic.com/images/supplier_logos/keddy_by_europcar_logo_lrg.gif" alt="Keddy by Europcar" class="img-fluid">
                </a>
            </div>
            <div class="col-md-2 rental-image">
                <a href="https://www.alamo.com/" target="_blank">
                    <img src="https://cdn2.rcstatic.com/images/supplier_logos/alamo_logo_lrg.gif" alt="Alamo" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>
