<footer class="bg-dark text-light text-center py-3">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-6">
                <h1>Blizz Car Rental</h1>
                <p class="mb-3">Discover the ultimate car rental experience with Blizz Car Rental. We offer a wide range of vehicles, competitive prices, and exceptional customer service. Your journey starts with us!</p>
            </div>
            <div class="col-md-5">
                <!-- Subscribe Form -->
                <form class="form-inline justify-content-md-end mb-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>&copy; 2024 Blizz Car Rental. All Rights Reserved.</h4>
    </div>
</footer>
